In [8]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def three_baisuu(num) :
    if num % 3 == 0 :
        return True
    return False

list(filter(lambda x : (x % 3) == 0 , data))

    
print(list(filter(three_baisuu, data)))








#def expr_2(num) :
#    return num ** 2

#print(list(map))

[3, 6, 9]

In [51]:
data = list(range(0,101))

def kisuu(num) :
    if num < 10 and num % 2 != 0 :
        return True
    elif num % 2 != 0 and (num // 10) % 2 != 0  :
        return True
    else :
        return False
    
print(list(filter(kisuu, data)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 31, 33, 35, 37, 39, 51, 53, 55, 57, 59, 71, 73, 75, 77, 79, 91, 93, 95, 97, 99]

In [54]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def x(num):
    return num ** 2

In [55]:
list(map(x, data ))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
[i ** 2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
data1 = ['satou', 'tanaka', 'suzuki']
data2 = ['taro', 'jiro', 'hanako']

for data1i, data2i in zip(data1, data2) :
    print(data1i, data2i)

satou taro
tanaka jiro
suzuki hanako

In [69]:
{i +' ' + x for i, x in zip(data1, data2)}

{'satou taro', 'suzuki hanako', 'tanaka jiro'}